.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 3px lightgray;
  width: 80%;
  margin: 10px auto;
  border-radius: 15px;
  font-size: 24px;
}

.list-header h3.title {
  margin-bottom: 0;
}

.list-header .search {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px 20px 5px 0;
  margin: auto auto;
}

.input {
  padding: 8px 15px;
  border-radius: 10px;
  width: 100%;
}

.label-1 {
  font-size: 24px;
  margin-left: -40px;
  opacity: 1;
  z-index: 1;
}

.header-logo {
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(45deg, #4d0418, #eb1d1d, rgb(214, 146, 57), #eb1d1d);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 14px;
}
